-- ============================================================
-- FlareNet Development Seed Data
-- ============================================================

-- =============== USERS =========================
-- bcrypt("admin123") = $2a$10$7EqJtq98hPqEX7fNZaFWoO.K0iHZ8OZWjWn6i8u5D9dM3Wsj7HpiW
INSERT INTO users (username, password, role) VALUES
('admin', '$2a$10$7EqJtq98hPqEX7fNZaFWoO.K0iHZ8OZWjWn6i8u5D9dM3Wsj7HpiW', 'ADMIN'),
('user1', '$2a$10$7EqJtq98hPqEX7fNZaFWoO.K0iHZ8OZWjWn6i8u5D9dM3Wsj7HpiW', 'USER'),
('user2', '$2a$10$7EqJtq98hPqEX7fNZaFWoO.K0iHZ8OZWjWn6i8u5D9dM3Wsj7HpiW', 'USER'),
('user3', '$2a$10$7EqJtq98hPqEX7fNZaFWoO.K0iHZ8OZWjWn6i8u5D9dM3Wsj7HpiW', 'USER'),
('user4', '$2a$10$7EqJtq98hPqEX7fNZaFWoO.K0iHZ8OZWjWn6i8u5D9dM3Wsj7HpiW', 'USER');

-- =============== TRANSFORMERS ==================
INSERT INTO transformers (transformer_no, region, pole_no, type, location_details, capacitykva) VALUES
('TX-0001', 'Colombo', 'EN-101', 'Distribution', 'Town Center', 500),
('TX-0002', 'Kandy', 'EN-102', 'Bulk', 'Market Square', 1000),
('TX-0003', 'Galle', 'EN-103', 'Distribution', 'Harbor Side', 750),
('TX-0004', 'Jaffna', 'EN-104', 'Bulk', 'University Road', 2000),
('TX-0005', 'Kaduwela', 'EN-105', 'Distribution', 'Town Hall', 5000);

-- =============== INSPECTIONS ===================
INSERT INTO inspections (branch, inspected_date, inspection_number, inspection_time, status, transformer_id) VALUES
('Moratuwa', '2025-09-01', '20001', '09:00:00', 'PENDING', 1),
('Moratuwa', '2025-09-02', '20002', '10:30:00', 'COMPLETED', 2),
('Kaduwela', '2025-09-03', '20003', '11:45:00', 'IN_PROGRESS', 3),
('Colombo', '2025-09-04', '20004', '14:15:00', 'PENDING', 4),
('Kandy', '2025-09-05', '20005', '16:00:00', 'COMPLETED', 5);

-- =============== THERMAL IMAGES ================




-- --
-- -- PostgreSQL database dump
-- --

-- \restrict dCK34B7fdOwdxJWPTAJ8epZ1zvmcFpu5T8ONmaSuEyYHzz6x1Px2mC6tBJLTcGb

-- -- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- -- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

-- SET statement_timeout = 0;
-- SET lock_timeout = 0;
-- SET idle_in_transaction_session_timeout = 0;
-- SET client_encoding = 'UTF8';
-- SET standard_conforming_strings = on;
-- SELECT pg_catalog.set_config('search_path', '', false);
-- SET check_function_bodies = false;
-- SET xmloption = content;
-- SET client_min_messages = warning;
-- SET row_security = off;

-- SET default_tablespace = '';

-- SET default_table_access_method = heap;

-- --
-- -- Name: inspections; Type: TABLE; Schema: public; Owner: flarenet
-- --

-- CREATE TABLE public.inspections (
--     id bigint NOT NULL,
--     branch character varying(255),
--     created_at timestamp(6) with time zone NOT NULL,
--     inspected_date date,
--     inspection_number character varying(255) NOT NULL,
--     inspection_time time(6) without time zone,
--     maintenance_date date,
--     status character varying(255),
--     updated_at timestamp(6) with time zone NOT NULL,
--     transformer_id bigint,
--     CONSTRAINT inspections_status_check CHECK (((status)::text = ANY ((ARRAY['IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'PENDING'::character varying])::text[])))
-- );


-- ALTER TABLE public.inspections OWNER TO flarenet;

-- --
-- -- Name: inspections_id_seq; Type: SEQUENCE; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE public.inspections ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
--     SEQUENCE NAME public.inspections_id_seq
--     START WITH 1
--     INCREMENT BY 1
--     NO MINVALUE
--     NO MAXVALUE
--     CACHE 1
-- );


-- --
-- -- Name: thermal_image; Type: TABLE; Schema: public; Owner: flarenet
-- --

-- CREATE TABLE public.thermal_image (
--     id bigint NOT NULL,
--     content_type character varying(255),
--     file_name character varying(255),
--     file_path character varying(255),
--     image_type character varying(255) NOT NULL,
--     size_bytes bigint,
--     uploaded_at timestamp(6) with time zone,
--     uploader character varying(255),
--     weather_condition character varying(255),
--     inspection_id bigint,
--     transformer_id bigint NOT NULL,
--     CONSTRAINT thermal_image_image_type_check CHECK (((image_type)::text = ANY ((ARRAY['BASELINE'::character varying, 'MAINTENANCE'::character varying])::text[]))),
--     CONSTRAINT thermal_image_weather_condition_check CHECK (((weather_condition)::text = ANY ((ARRAY['SUNNY'::character varying, 'CLOUDY'::character varying, 'RAINY'::character varying])::text[])))
-- );


-- ALTER TABLE public.thermal_image OWNER TO flarenet;

-- --
-- -- Name: thermal_image_id_seq; Type: SEQUENCE; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE public.thermal_image ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
--     SEQUENCE NAME public.thermal_image_id_seq
--     START WITH 1
--     INCREMENT BY 1
--     NO MINVALUE
--     NO MAXVALUE
--     CACHE 1
-- );


-- --
-- -- Name: transformers; Type: TABLE; Schema: public; Owner: flarenet
-- --

-- CREATE TABLE public.transformers (
--     id bigint NOT NULL,
--     capacitykva double precision,
--     created_at timestamp(6) with time zone NOT NULL,
--     location_details character varying(255),
--     pole_no character varying(255),
--     region character varying(255),
--     transformer_no character varying(255),
--     type character varying(255),
--     updated_at timestamp(6) with time zone NOT NULL
-- );


-- ALTER TABLE public.transformers OWNER TO flarenet;

-- --
-- -- Name: transformers_id_seq; Type: SEQUENCE; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE public.transformers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
--     SEQUENCE NAME public.transformers_id_seq
--     START WITH 1
--     INCREMENT BY 1
--     NO MINVALUE
--     NO MAXVALUE
--     CACHE 1
-- );


-- --
-- -- Data for Name: inspections; Type: TABLE DATA; Schema: public; Owner: flarenet
-- --

-- COPY public.inspections (id, branch, created_at, inspected_date, inspection_number, inspection_time, maintenance_date, status, updated_at, transformer_id) FROM stdin;
-- 1	Moratuwa	2025-08-26 11:59:03.794749+00	2025-08-26	20000	17:28:54	\N	PENDING	2025-08-26 11:59:03.794749+00	1
-- 2	Moratuwa	2025-08-26 14:08:00.595532+00	2025-08-26	20001	19:37:25	\N	PENDING	2025-08-26 14:08:00.595532+00	2
-- 3	moratuwa	2025-08-26 16:13:07.605274+00	2025-08-26	20002	21:34:52	\N	PENDING	2025-08-26 16:13:07.605274+00	2
-- \.


-- --
-- -- Data for Name: thermal_image; Type: TABLE DATA; Schema: public; Owner: flarenet
-- --

-- COPY public.thermal_image (id, content_type, file_name, file_path, image_type, size_bytes, uploaded_at, uploader, weather_condition, inspection_id, transformer_id) FROM stdin;
-- 2	image/png	Screenshot 2025-08-18 193931.png	t-1/1756209613798-Screenshot 2025-08-18 193931.png	MAINTENANCE	72243	2025-08-26 12:00:13.802025+00	H1210	RAINY	1	1
-- 3	image/png	jsv.png	t-1/1756209624261-jsv.png	MAINTENANCE	397072	2025-08-26 12:00:24.262946+00	H1210	RAINY	1	1
-- 8	image/png	Screenshot 2025-08-18 193931.png	t-1/1756211522402-Screenshot 2025-08-18 193931.png	MAINTENANCE	72243	2025-08-26 12:32:02.403681+00	H1210	SUNNY	1	1
-- 11	image/png	Screenshot 2025-08-18 193931.png	t-1/1756212151397-Screenshot 2025-08-18 193931.png	MAINTENANCE	72243	2025-08-26 12:42:31.400633+00	H1210	SUNNY	1	1
-- 12	image/png	Screenshot 2025-08-18 193931.png	t-1/1756212341766-Screenshot 2025-08-18 193931.png	BASELINE	72243	2025-08-26 12:45:41.768592+00	H1210	CLOUDY	1	1
-- 13	image/png	jsv.png	t-1/1756212546605-jsv.png	MAINTENANCE	397072	2025-08-26 12:49:06.608362+00	H1210	CLOUDY	1	1
-- 14	image/png	Screenshot 2025-08-20 101005.png	t-1/1756213404565-Screenshot 2025-08-20 101005.png	MAINTENANCE	397079	2025-08-26 13:03:24.567444+00	H1210	CLOUDY	1	1
-- 16	image/png	Screenshot 2025-08-20 101005.png	t-2/1756217293386-Screenshot 2025-08-20 101005.png	MAINTENANCE	397079	2025-08-26 14:08:13.38784+00	H1210	SUNNY	2	2
-- 17	image/png	Screenshot 2025-08-21 131121.png	t-2/1756217309793-Screenshot 2025-08-21 131121.png	MAINTENANCE	60935	2025-08-26 14:08:29.794703+00	H1210	SUNNY	2	2
-- 19	image/png	Screenshot 2025-08-18 193931.png	t-2/1756223910967-Screenshot 2025-08-18 193931.png	MAINTENANCE	72243	2025-08-26 15:58:30.968628+00	H1210	SUNNY	2	2
-- 20	image/png	Screenshot 2025-08-20 101005.png	t-2/1756224046586-Screenshot 2025-08-20 101005.png	MAINTENANCE	397079	2025-08-26 16:00:46.591015+00	H1210	SUNNY	2	2
-- 21	image/png	Screenshot 2025-08-22 084807.png	t-2/1756224802393-Screenshot 2025-08-22 084807.png	MAINTENANCE	53921	2025-08-26 16:13:22.394786+00	H1210	SUNNY	3	2
-- 27	image/png	jsv.png	t-2/1756229178690-jsv.png	MAINTENANCE	397072	2025-08-26 17:26:18.694838+00	H1210	CLOUDY	2	2
-- 28	image/png	Screenshot 2025-08-20 101005.png	t-2/1756229762380-Screenshot 2025-08-20 101005.png	MAINTENANCE	397079	2025-08-26 17:36:02.382498+00	H1210	CLOUDY	2	2
-- 29	image/png	Screenshot 2025-08-20 101005.png	t-2/1756229801956-Screenshot 2025-08-20 101005.png	BASELINE	397079	2025-08-26 17:36:41.958558+00	H1210	SUNNY	3	2
-- 30	image/png	jsv.png	t-1/1756230184912-jsv.png	MAINTENANCE	397072	2025-08-26 17:43:04.913696+00	H1210	CLOUDY	1	1
-- 31	image/png	jsv.png	t-1/1756230198010-jsv.png	MAINTENANCE	397072	2025-08-26 17:43:18.012414+00	H1210	CLOUDY	1	1
-- 32	image/png	jsv.png	t-1/1756230265073-jsv.png	MAINTENANCE	397072	2025-08-26 17:44:25.07534+00	H1210	CLOUDY	1	1
-- 33	image/png	jsv.png	t-2/1756230944615-jsv.png	MAINTENANCE	397072	2025-08-26 17:55:44.617939+00	H1210	SUNNY	3	2
-- 34	image/png	Screenshot 2025-08-21 192523.png	t-2/1756230951733-Screenshot 2025-08-21 192523.png	MAINTENANCE	134980	2025-08-26 17:55:51.734733+00	H1210	SUNNY	3	2
-- 35	image/png	Screenshot 2025-08-20 101005.png	t-2/1756231294815-Screenshot 2025-08-20 101005.png	MAINTENANCE	397079	2025-08-26 18:01:34.817475+00	H1210	SUNNY	3	2
-- \.


-- --
-- -- Data for Name: transformers; Type: TABLE DATA; Schema: public; Owner: flarenet
-- --

-- COPY public.transformers (id, capacitykva, created_at, location_details, pole_no, region, transformer_no, type, updated_at) FROM stdin;
-- 2	122	2025-08-26 13:40:01.095882+00	mora	211	Moratuwa	AVN-2020	Bulk	2025-08-26 13:47:23.273733+00
-- 1	123	2025-08-26 11:58:39.798152+00	ff	wert	Moratuwa	AVN-12435	Distribution	2025-08-26 18:08:54.785597+00
-- \.


-- --
-- -- Name: inspections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flarenet
-- --

-- SELECT pg_catalog.setval('public.inspections_id_seq', 3, true);


-- --
-- -- Name: thermal_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flarenet
-- --

-- SELECT pg_catalog.setval('public.thermal_image_id_seq', 35, true);


-- --
-- -- Name: transformers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flarenet
-- --

-- SELECT pg_catalog.setval('public.transformers_id_seq', 2, true);


-- --
-- -- Name: inspections inspections_pkey; Type: CONSTRAINT; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE ONLY public.inspections
--     ADD CONSTRAINT inspections_pkey PRIMARY KEY (id);


-- --
-- -- Name: thermal_image thermal_image_pkey; Type: CONSTRAINT; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE ONLY public.thermal_image
--     ADD CONSTRAINT thermal_image_pkey PRIMARY KEY (id);


-- --
-- -- Name: transformers transformers_pkey; Type: CONSTRAINT; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE ONLY public.transformers
--     ADD CONSTRAINT transformers_pkey PRIMARY KEY (id);


-- --
-- -- Name: inspections uk1u5lp9sdsg7d1h61rmuc8vbx2; Type: CONSTRAINT; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE ONLY public.inspections
--     ADD CONSTRAINT uk1u5lp9sdsg7d1h61rmuc8vbx2 UNIQUE (inspection_number);


-- --
-- -- Name: thermal_image fkct65apkri1p45570vm3v8y6ab; Type: FK CONSTRAINT; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE ONLY public.thermal_image
--     ADD CONSTRAINT fkct65apkri1p45570vm3v8y6ab FOREIGN KEY (inspection_id) REFERENCES public.inspections(id);


-- --
-- -- Name: inspections fkdd9p95vu842eqnl7na60jbupr; Type: FK CONSTRAINT; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE ONLY public.inspections
--     ADD CONSTRAINT fkdd9p95vu842eqnl7na60jbupr FOREIGN KEY (transformer_id) REFERENCES public.transformers(id);


-- --
-- -- Name: thermal_image fkkryjtn99ny709xuepa3s3muey; Type: FK CONSTRAINT; Schema: public; Owner: flarenet
-- --

-- ALTER TABLE ONLY public.thermal_image
--     ADD CONSTRAINT fkkryjtn99ny709xuepa3s3muey FOREIGN KEY (transformer_id) REFERENCES public.transformers(id);


-- --
-- -- PostgreSQL database dump complete
-- --

-- \unrestrict dCK34B7fdOwdxJWPTAJ8epZ1zvmcFpu5T8ONmaSuEyYHzz6x1Px2mC6tBJLTcGb

